nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  min-height: 10vh;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  top: 100;
  z-index: 1000;
}
.logo img {
  width: 80px;
  height: 80px;
}
.logo{
  padding:5px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-size: 1rem;
}
.nav-list li a {
  color: #fff;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.switch_navtext_color{
  color:black;
}
.nav-list li a:hover {
  color: #2f41e9;
  transform: scale(1.1);
}

.scrolled {
  height: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

/* Bellow Slider Teeth image section  */
.container-teeth{
   display: flex;
   margin-top: 5px;
   height: 55px;
   padding: 3px 15px;

}
.container-teeth-image{
  width: 50px;
  background-color: #2f41e9;
  border-radius: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .container-teeth-image img {
  width:80%;
  height: 80%;
  object-fit: contain;
} 
.container-teeth-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.container-teeth-content p{
   font-size: 1.2rem;
}
.teeth-text-color{
  color: #2f41e9;
  font-weight: 500;
}
