.container-consultation {
  margin: 100px 0;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}
.container-consultation-left {
  width: 27%;
  position: relative;
  padding-top: 30px;
}

.consultation-image-container {
  width: 100%;
  height: 400px;
  border-radius: 50%;
  position: relative;
  background-color: #e0ecff;
}
.consultation-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 10px;
}
.container-bookappointment {
  position: absolute;
  top: 300px;
  right: -40px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 47px 60px 45px -2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.container-bookappointment_doctor_info {
  display: flex;
}
.container-bookappointment_doctor_info_left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  background-color: #2f41e9;
}
.container-bookappointment_doctor_info_right,
.container-bookappointment_doctor_time {
  padding-left: 20px;
}
.container-bookappointment_doctor_availability {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.container-bookappointment_doctor_time {
  margin-bottom: 30px;
}
.container-consultation-right {
  padding: 30px 60px 30px 30px;
  max-width: 40%;
}
.container-consultation-right h2 {
  font-size: 2.8rem;
}
.container-consultation-right h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.doctors_field_card {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.doctors_field_card:hover {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 47px 60px 45px -2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transform: scale(1.1);
}

.doctors_field_container {
  margin-top: 30px;
}
.detail-section-field-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #e0ecff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.detail-section-field-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.detail-section-field-data {
  padding: 20px;
}
.doctors_field_card_active {
  background: #ffffff;
  box-shadow: 47px 60px 45px -2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.detail-section-field-data p {
  font-size: 0.9rem;
  margin-top: 5px;
}
.detail-section-field-data h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .container-consultation {
    margin: 50px 0;
  }
  .container-consultation-left {
    width: 40%;
    height: 400px;
  }

  .consultation-image-container {
    width: 350px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    background-color: #e0ecff;
  }
  .consultation-image-container img {
    height: 400px;
  }
  .container-bookappointment {
    /* position: absolute; */
    top: 270px;
    right: 120px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 47px 60px 45px -2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .container-consultation-right {
    height: 500px;
    margin-bottom: 20px;
    max-width: 50%;
  }
  .container-consultation-right h2 {
    font-size: 1.9rem;
  }
  .container-consultation-right h1 {
    font-size: 1.9rem;
  }
}
@media only screen and (min-width:769px) and (max-width: 1024px) {
  .container-consultation {
    /* margin-top: 80px; */
    margin: 30px 0;
  }

  .container-consultation-left {
    height: 600px;
    width: 30%;
  }
  .consultation-image-container {
    width: 100%;
    height: 290px;
    border-radius: 60%;
    position: relative;
  }
  .container-bookappointment {
    top: 250px;
    right: -18px;
    padding: 20px;
    position: absolute;
    border-radius: 20px;
    height: 250px;
    width: 250px;
  }
  .container-consultation-right {
    max-width: 56%;
    height: 500px;
  }
  .container-consultation-right h2 {
    font-size: 2rem;
    font-weight: 250;
  }
  .container-consultation-right h1 {
    font-size: 2rem;
    font-weight: 250;
  }
  .container-consultation-right p {
    font-size: 0.8rem;
  }
  .consultation-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 10px;
  }
  .container-bookappointment_doctor_info_left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    background-color: #2f41e9;
  }
  .container-bookappointment_doctor_info_right h2 {
    padding-left: 20px;
    font-size: 1.3rem;
    font-weight: 300;
  }
  .container-bookappointment_doctor_availability p {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .container-bookappointment_doctor_time {
    padding-left: 8px;
  }
  .doctors_field_card {
    margin-bottom: 5px;
    padding: 0;
  }
  .doctors_field_card {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container-consultation{
    margin: 100px 0px 0px 0;
  }
 .container-bookappointment{
  top: 241px;
    right: -27px;
    padding: 8px;
    position: absolute;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}
 
  .container-consultation-right{
    max-width: 50%;
    height: 500px;
    
  }
  .container-consultation-right h1{
    font-size: 1.5rem;
    font-weight: 200;
  }
  .container-consultation-right h2{
    font-size: 1.5rem;
    font-weight: 200;
  }
  .container-consultation-right p{
    font-size: 1rem;
    font-weight: 300;
  }
  .doctors_field_card {
    
    margin-bottom: 10px;
    width:340px;
    height: 100px;
    align-items: center;
    padding: 7px;
    
  }
  .detail-section-field-data p {
    font-size: 0.9rem;
    margin-top: 5px;
  }
  .detail-section-field-data h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
.container-bookappointment_doctor_info_right h2{
font-size:0.9rem;

}
.container-bookappointment_doctor_availability{
  margin-bottom: 5px;
}
.consultation-image-container{
height: 280px;
width: 260px;
}
.consultation-image-container img{
  height: 260px;
  top: 4px;
}
  
}
@media only screen and (max-width: 576px) {
  /* Styles for extra small devices */ 
  .container-consultation{
    display: flex;
    flex-direction: column;
  }
  .consultation-image-container{
    height: 250px;
    width: 230px;
  }
  .consultation-image-container img{
    height: 230px;
    width: 230px;
    
  }
  .container-bookappointment{
    height: 200px ;
    width: 200px;
    top: 190px;
    right: -90px;
    padding: 10px;
  }
  .container-consultation-left{
    margin-left: 160px;
  }
  .container-consultation-right {
    margin-top: 100px;
    display: flex;
    
  }
  .container-consultation-right h1,.container-consultation-right h2{
    font-size: 1.6rem;
    text-align: center;
  }
  .container-consultation-right p{
    font-size: 0.9rem;
    font-size: 200;
    text-align: center;

  }
  .container-consultation-right{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 40px;
  }
  .doctors_field_card{
    height: 15vh;
  }
  .detail-section-field-data h2{
    font-size: 1.2rem;
  }


}

  