.container-makeus{
    display: flex;
    margin-top: 12px;
    position: relative;
    justify-content: space-around;
}

.content-left{
    height: 50vh;
    width: 42vw;
    margin-top: 55px;

}
.content-left {
    text-align: center;
}
.content-left h2{
    margin-bottom: 45px;
}
/* tick mark */
.verified {
    position: relative;
    padding-left: 35px;
    margin-top: 15px;
  }
  
  .verified::before {
    content: "";
    position: absolute;
    left: 60px;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/images/verified.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* image section */
  .container-makeus img{
    height: 380px;

  }
