.reusable__btn{
    width:fit-content;
   margin:20px 0 20px 0;
   padding-top: 15px;
    padding-bottom: 15px; 
    border-radius: 10px;
    background-color: #2F41E9;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
}
.reusable__btn a{
    color: #fff;
}

.reusable__btn:hover{
    background-color: #1fca66;
  transform: scale(1.1);
}

@media screen and (max-width: 530px) {
    
.reusable__btn{
        padding: 15px;
    }
}
@media screen and (max-width: 720px) {
    .reusable__btn:hover{
    color: inherit;
    background-color: #2F41E9;
    transform: none;
    text-decoration: none;
  }
}
@media screen and (max-height: 400px) {
    .reusable__btn{
        padding: 10px;
    }
     .reusable__btn:hover{
    color: inherit;
    background-color: #2F41E9;
    transform: none;
    text-decoration: none;
  }
}
