.container-meet-specialist{
    padding: 50px;
    margin: 50px 0;
    display: flex; 
    justify-content: center;
}
.container-meet-specialist h2{
    font-size: 2.8rem;
}
/* card css */

.container-specialist-image{
    height: 42vh;
    width: 19vw;
    border-radius: 12px;
    background-color: #E2EEFA;
    margin-left: 12px;
    margin-bottom: 12px;
}
.container-specialist-image img{
    height: 270px;
}
.container-specialist{
    text-align: center;
}
/* mapping css */
.container-meet-mapping{
    display: flex;
    height: 55vh;
    justify-content: center;
    padding: 25px;
    margin-top: -100px;
    margin-bottom: 25px;
}