.container-meet-specialist{
    margin: 50px 0px; 
}
.container-meet-specialist h2{
    font-size: 2.8rem;
    text-align: center;
}
/* card css */

.container-specialist-image{
    height: auto;
    width: 19vw;
    border-radius: 12px;
    background-color: #E2EEFA;
    margin-bottom: 12px;
}
.container-specialist-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container-specialist{
    text-align: center;
}
/* mapping css */
.container-meet-mapping{
    display: flex;
    justify-content: space-around;
    padding: 40px 150px;
    margin: 3px 0;

}

/* Media Queries */
@media (max-width: 1024px){

  h2{
    margin-bottom: 10px;
  }
  .container-meet-specialist{
    margin: 0;
  }
  .container-specialist-image {
    height: auto;
    width: 90%;
    margin-bottom: 12px;
  }

  .container-meet-mapping{
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
    .container-meet-specialist {
      padding: 30px;
      margin-top: 30px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  
    .container-meet-specialist h2 {
      font-size: 2rem;
    }
  
    .container-specialist-image {
      height: auto;
      width: 80%;
      margin: 0 auto 12px;
    }
  
    .container-specialist-image img {
      border-radius: 8px;
    }
  
    .container-meet-mapping {
      flex-wrap: wrap;
      padding: 30px;
    }

    p{
      padding-bottom: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .container-meet-specialist {
      padding: 20px;
      margin: 20px 0;
    }
  
    .container-meet-specialist h2 {
      font-size: 1.8rem;
    }
  
    .container-specialist-image {
      width: 80%;
    }
  
    .container-meet-mapping {
      padding: 20px;
    }
  }