/* Box-sizing reset */
*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Margin and padding reset */
body, h1, h2, h3, h4, h5, h6, p, blockquote, figure, dl, dd {
    margin: 0;
    padding: 0;
}



ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

/* Form element reset */
input, textarea, select, button {
    margin: 0;
    padding: 0;
    /* all: unset; */
    border: none;
    background: transparent;
}
